#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 16px 0px;
  margin-top: -25px;
  margin-bottom: 10px;
  font-size: 18px;
}
#friends-display-link i {
  color: #d5d5d5;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}
.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--text-color-gray);
}
.recommended-friends span {
  margin: 100px 0px;
  display: block;
  text-align: center;
  color: var(--text-color-gray);
  font-size: 18px;
}
