.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 55px 25px;
  align-items: center;
  margin-bottom: -10px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 21px;
}
.screen-header__circle {
  margin-left: 445px;
  margin-bottom: 27.5px;
}
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.fa-cog:hover {
  animation: rotateCog 2s ease-in-out infinite;
}
